<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.cafebazaar.poolakey">

    <queries>
        <package android:name="com.farsitel.bazaar" />
    </queries>

    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />

    <application>
        <receiver android:name=".receiver.BillingReceiver">
            <intent-filter>
                <action android:name="com.farsitel.bazaar.purchase" />
                <action android:name="com.farsitel.bazaar.billingSupport" />
                <action android:name="com.farsitel.bazaar.consume" />
                <action android:name="com.farsitel.bazaar.getPurchase" />
                <action android:name="com.farsitel.bazaar.skuDetail" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
